@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.0/dist/tailwind.min.css');



@media (min-width: 360px) {
  .app-container {
    background-color: var(--background-color);
    height: 100vh;
  }
  .container-wrapper {
  }

  .button-panel {
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }
  .button-panel button {
    padding: 0.4vh;
    border: 1px solid var(--primary-color); /* Add a border */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
    color: var(--primary-color);
    margin-left: 1vh;
    margin-right: 1vh;
    cursor: pointer; /* Change cursor on hover */
    font-size: 12px; /* Font size */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effects */
  }

  .file-title {
    height: 5vh;
    color: var(--primary-color);
    border: 1px solid var(--primary-color); /* Add a border */
    border-radius: 1px; /* Optional: Add border-radius for rounded corners */
    text-align: center;
    font-size: large;
    margin-bottom: 1vh;
    display: flex;
  }

  .textarea-container {
    font-size: small;
    height: 36vh;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 5vh;
  }

  .svg-container {
    height: 47vh;
    flex-direction: row;
    padding: 5px;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    height: 5vh;
    flex-direction: row;
    padding: 5px;
  }
  .mm-toolbar-item {
    font-size: 11px;
  }
}

@media (min-width: 667px) {
  .app-container {
    display: flex;

  }
  
  .content-wrapper {
    height: 100vh;
    display: block;
    padding: 1px 1px;
  }

  .container-wrapper {
    display: grid;
    grid-template-columns: 10% 30% 60%;
    flex: 1;

  }
  
  .file-title {
    height: 20px;
    color: var(--secondary-color);
    font-size: 12px;
    text-align: center;  
  }

  .textarea-container {
    padding: 1px;
    height: 88vh;
  }
  
  .svg-container {
    padding: 5px;
    margin-right: 2px;
    height: 95vh;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    height: 7vh;
    flex-direction: row;
    padding: 5px;
  }
  .mm-toolbar-item {
    font-size: 11px;
  }
    
  .button-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 30vh;
    margin-right: 2px;
  }

  .button-panel button {
    font-size: 10px;
    padding: 5px 5px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color); /* Add a border */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
  
    background-color: var(--background-color);
    color: var(--primary-color);
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effects */
  }
}

@media (min-width: 1200px) {
  .app-container {
    display: flex;
    background-color: var(--background-color);
  }
  
  .container-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 7% 25% 70%;
    flex: 1;
    height: 90vh; /* Set the desired height here */
  }
  
  .file-title {
    font-size: xx-large;
    height: 5vh;
    color: var(--secondary-color);
    padding: 1px;
    text-align: center;
  }

  .textarea-container {
    height: 91vh;
    padding: 1px;
  }
  
  .svg-container {
    width: 96%;
    height: 95vh;
    padding: 1px;
  }

  .toolbar {
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
  }

  .button-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 30vh;
  }

  .button-panel button {
    padding: 5px 5px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color); /* Add a border */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
  
    background-color: var(--background-color);
    color: var(--primary-color);
    cursor: pointer; /* Change cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effects */
  }
  
}

h1,
p {
  font-family: Lato;
}

.mm-toolbar img {
  display: inline;
}

.mm-toolbar {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.image-content {
  border: 2px solid white;
  padding: 1px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


// google fonts
// @import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Inter:wght@200;300;400;500;600;700;800&display=swap");

/*** Common variables ***/
:root {
  // colors
  --theme-green-color: #5cd59b;
  --primary-color: #ffffff;
  --secondary-color: #32323e;
  --background-color: #282832;
  --side-link-hover-color: #525270;
  --side-text-color: var(--dark-color);
  --logo-color: var(--primary-color);
  --xl-text-color: #ffff;
  --lg-text-color: #f3f3f3;
  --base-text-color: #98a9b5;
  --text-color-inverted: #fff;
  --text-color-inverted-blue: #fff;
  --bg-color-inverted: #f7f8fa;
  --border-color-inverted: #575777;
  --toggle-btn-border-color: #525270;
  --toggle-btn-bg-color: #525270;
  --toggle-btn-icon-color: #bdbdbd;
  --thead-bg-color: var(--secondary-color);
  --tbl-border-color: var(--secondary-color);
  --scroll-track-bg-color: #32323e;
  --scroll-thumb-bg-color: #575777;
  --progress-bar-bg-color: #424451;
  --blue-color: #2F88F0;
  --green-color: #5cd59b;
  --orange-color: #F2C94C;
  --red-color: #F27362;
  --dark-color: #181c32;
  --light-color: #ffffff;
  // typography
  --font-family-helvetica: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Roboto, "Helvetica Neue", sans-serif;
  --font-family-arial: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Roboto, "Helvetica Neue", sans-serif;
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;
  // transition
  --default-transition: all 300ms ease-in-out;
  // chart
  --chart-primary-color: #2F88F0;
  --chart-secondary-color: #E1EDFF;
  // box shadow
  --light-shadow1: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}


body {
  font-family: var(--font-family-helvetica);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}





